{
  "parserOptions": {
    "ecmaVersion": 2020, //최신문법 사용
    "sorceType": "module", // 소스탑입은 module 시스템 import/export
    "ecmaFeatures" : {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [    // 실제적인 규칙 
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "import",
    "react-hooks"
  ],
  "rules": {

  }
}